.idea
reports/*
!reports/.gitkeep
build/*
!build/.gitkeep
_testdata/generated/reports/*
!_testdata/generated/reports/.gitkeep
_testdata/xdry.log
xdry-cache_*.json
/xdry.json
/xdry.log
_testdata/cache/*
!/_testdata/cache/.gitkeep
